/* FLOTA */


    .flota
    {
        background-color: #dddddd;
        width: 100%;
        height: 300px;
    }
    .flota h1
    {
        background-color: #0080ff;
        color: whitesmoke;
        text-align: center;
        font-size: 2rem;
        font-family: montserrat;
    }
    .flota img
    {
        /* width: 80%; */
        /* float: left; */
        width: 200px;
        background-color: rgba(0, 0, 0, 0);
        margin-left: 80px;
        margin-right: 80px;
        transition: transform 0.2s ease-in-out;
    }
    /* .flota a
    {
        height: 100%;
        width: 30%;
    } */
    .flota div
    {
        background-color: whitesmoke;
        width: 100%;
        float: left;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
    }
    .flota img:hover
    {
        transform: scale(1.1);
    }


/* POJAZDY */


    .pojazdy
    {
        background-color: whitesmoke;
        width: 100%;
        height: 1480px;
        text-align: center;
        margin-bottom: 50px;
    }
    .pojazdy h2
    {
        font-family: montserrat;
        color: #0080ff;
        font-size: 1.5rem;
    }
    .pojazdy div
    {
        background-color: whitesmoke;
        width: 100%;
        float: left;
        /* height: 150px; */
    }
    .pojazdy img:hover
    {
        transform: scale(1.1);
        border: 2px solid #7FD6FC;
    }
    .pojazdy img
    {
        width: 70%;
        transition: all 0.2s ease-in-out;
        border: 2px solid #0080ff;
        border-radius: 15px;
        z-index: 100;
    }
    .pojazdy .wiersz_aut
    {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
        display: flex;
    }
    .pojazdy figure
    {
        width: 100%;
        height: 100%;
        /* display: flex; */
        transition: all 0.3s;
    }
    .pojazdy figcaption
    {
        visibility: hidden;
        border: 2px solid #0080ff;
        width: 27.5%;
        height: 45px;
        z-index: 1000;
        /* top: 30px; */
        margin-top: 20px;
        transition: all 0.1s;
        /* transition: position 0s; */
        transform: scale(0.5);
        z-index: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
    .pojazdy figure:hover figcaption
    {
        visibility: visible;
        /* position: relative; */
        transform: scale(1.02);
        z-index: 500;
        transition-delay: 0.2s;
    }
    .pojazdy figure:hover
    {
        margin-bottom: 55px;
    }
    .fig_lewy figcaption
    {
        position: absolute;
        /* left: 2%; */
    }
    .fig_srodek figcaption
    {
        position: absolute;
        /* left: 2%; */
    }
    .fig_prawy figcaption
    {
        position: absolute;
        /* right: 2%; */
        float: right;
    }