@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    *
    {
        background-color: whitesmoke;
        /* width: 100%; */
        /* height: 100%; */
    }
    html
    {
        background-color: #1e1e1e;
    }
    body, section
    {
        background-color: #dddddd;
    }


/* BANER */


    header
    {
        height: 80px;
        /* margin-bottom: 30px; */
    }
    header img
    {
        height: 80px;
        /* position: relative; */
        /* left: px; */
        float: right;
        /* background-color: aqua; */
        position: relative;
        right: 40px;
    }
    .logo
    {
        width: 40%;
        height: 50px;
        float: left;
        /* padding: auto; */
        /* background-color: aqua; */
        position: relative;
    }
    nav
    {
        width: 40%;
        float: left;
        margin: auto;
        /* background-color: lightblue; */
        height: 80px;
        display: flex;
        justify-content: flex-start;
    }
    nav button
    {
        width: 100%;
        height: 100%;
        /* position: relative; */
        /* left: -40px; */
        /* top: -15px; */
        background-color: whitesmoke;
        border: 0px;
        border-top: 3px solid whitesmoke;
        transition: color 0.3s;
        font-family: montserrat;
        /* padding-top: ; */
        color: #000;
        font-weight: bold;
        font-size: 20px;
        width: 100%;
        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    nav button:hover
    {
        border-top: 3px solid #0080ff;
        color: #0080ff;
        cursor: pointer;
    }


/* WYBÓR */
    .wybor
    {
        width: 100%;
        display: flex;
        height: 700px;
        background-color: #dddddd;
        justify-content: space-evenly;
        align-items: center;
    }
    .wybor form
    {
        width: 40%;
        height: 500px;
        background-color: #dddddd;
    }
    .wybor img
    {
        height: 30%;
    }
    .wybor button
    {
        width: 100%;
        float: left;
        height: 500px;
        border: 5px solid #0080ff;
        border-radius: 15px;
        background-color: whitesmoke;
        color: #0080ff;
        font-family: montserrat;
        font-size: 35px;
        font-weight: bold;
        text-decoration: none;
        transition: all 0.2s;
    }
    .wybor button:hover
    {
        transform: scale(1.1);
        color: #7FD6FC;
        border-color: #7FD6FC;
        cursor: pointer;
    }


/* DLUGI */
    #dlugi
    {
        width: 100%;
        height: 1000px;
        /* margin-bottom: 40px; */
        background-color: #dddddd;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    #dlugi h2
    {
        text-align: center;
        font-size: 40px;
        color: #0080ff;
        font-family: montserrat;
        margin: 0;
        width: 100%;
    }
    #dlugi h3
    {
        font-size: 30px;
        font-family: montserrat;
        margin: 0;
        color: #0080ff;
        text-align: center;
    }
    #dlugi h4
    {
        font-size: 20px;
        font-family: montserrat;
        margin: 0;
    }
    #dlugi li
    {
        font-size: 20px;
        font-family: montserrat;
    }
    .dlaczego, .samochod
    {
        width: 40%;
        height: 300px;
    }
    .zapytaj
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .opisdl
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-between;
        align-items: center;
    }
    #dlugi h5
    {
        font-size: 20px;
        font-family: montserrat;
        margin: 0;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }
    #dlugi td, #dlugi th
    {
        border: 2px solid #0080ff;
        height: 100%;
    }
    #dlugi table
    {
        border-collapse: collapse;
        /* border: 1px solid #0080ff; */
        font-size: 20px;
        font-family: montserrat;
        text-align: center;
        border: 3px solid #0080ff;
        /* margin-bottom: 20px; */
    }
    #dlugi table thead
    {
        border: 3px solid #0080ff;
    }
    .trcen
    {
        background-color: whitesmoke;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 350px;
    }
    #dlugi a
    {
        color: #C47C00;
        transition: all 0.9s;
    }
    #dlugi a:hover
    {
        color: #F9B94B;
    }


/* COFNIJ */


    .cofnij
    {
        width: 100%;
        height: 150px;
        background-color: #dddddd;
        /* color: whitesmoke; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cofnij div
    {
        background-color: #0080ff;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cofnij a
    {
        color: whitesmoke;
        text-decoration: none;
        font-size: 30px;
        background-color: #0080ff;
        transition: all 0.2s;
        font-family: montserrat;
    }
    .cofnij a:hover
    {
        color: #7FD6FC;
        transform: scale(1.1);
    }


/* KROTKI */


    #krotki
    {
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #dddddd;
        margin-bottom: 30px;
        justify-content: space-evenly;
    }
    #krotki h2
    {
        text-align: center;
        font-size: 40px;
        color: #0080ff;
        font-family: montserrat;
        margin: 0px;
        width: 100%;
    }
    #krotki h3
    {
        font-size: 30px;
        color: #0080ff;
        font-family: montserrat;
        text-align: center;
    }
    #krotki ul, #krotki ol
    {
        font-size: 20px;
        color: #000;
        font-family: montserrat;
    }
    #krotki ol
    {
        margin-bottom: 20px;
    }
    li
    {
        list-style-image: url(/ikony/list.png);
    }
    #krotki td, #krotki th
    {
        border: 2px solid #0080ff;
        height: 100%;
    }
    #krotki table
    {
        border-collapse: collapse;
        /* border: 1px solid #0080ff; */
        font-size: 20px;
        font-family: montserrat;
        text-align: center;
        border: 3px solid #0080ff;
    }
    #krotki table thead
    {
        border: 3px solid #0080ff;
    }
    .krtel
    {
        background-color: whitesmoke;
        width: 100%;
    }
    .krcen
    {
        background-color: whitesmoke;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


/* STOPKA */


    footer
    {
        width: 100%;
        background-color: #1e1e1e;
        height: 400px;
        color: #f0f0f0;
        /* text-align: center; */
        padding: auto;
    }
    footer div
    {
        margin: 0;
        padding: 10px;
    }
    footer p, footer img, footer h2, footer p a
    {
        background-color: #1e1e1e;
        margin: 5px;
    }
    footer > div > div > p
    {
        width: 180px;
        scroll-margin-right: 0;
        /* display: inline; */
        font-size: 18px;
    }
    footer img
    {
        height: 18px;
        float: left;
        position: relative;
        left: 10px;
    }
    .info
    {
        float: left;
        width: 200px;
        background-color: #1e1e1e;
        /* margin-top: 10px; */
        height: 330px;
        /* padding-left: 100px; */
        float: right;
        position: relative;
        right: 0px;
    }
    .linki
    {
        float: left;
        width: 200px;
        background-color: #1e1e1e;
        /* margin-top: 10px; */
        height: 330px;
        float: left;
        position: relative;
        left: 30px;
    }
    #prawa
    {
        float: left;
        background-color: #1e1e1e;
        width: 100%;
        text-align: center;
        margin: 0;
        height: 20px;
    }
    .foot
    {
        width: 50%;
        height: 370px;
        background-color: #1e1e1e;
        margin: 0;
        padding: 0;
        float: left;
    }
    .godz
    {
        background-color: #1e1e1e;
        font-size: 14px;
        padding-left: 30px;
    }
    footer a
    {
        color: #f0f0f0;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }
    footer a:hover
    {
        color: #0080ff;
    }
    footer a:active
    {
        color: #7FD6FC;
    }


