@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    *
    {
        background-color: whitesmoke;
        /* width: 100%; */
        /* height: 100%; */
    }
    html
    {
        background-color: #1e1e1e;
    }
    body, section
    {
        background-color: #dddddd;
    }

/* BANER */


    header
    {
        height: 80px;
    }
    header img
    {
        height: 80px;
        /* position: relative; */
        /* left: px; */
        float: right;
        /* background-color: aqua; */
        position: relative;
        right: 40px;
    }
    .logo
    {
        width: 40%;
        height: 50px;
        float: left;
        /* padding: auto; */
        /* background-color: aqua; */
        position: relative;
    }
    nav
    {
        width: 40%;
        float: left;
        margin: auto;
        /* background-color: lightblue; */
        height: 80px;
        display: flex;
        justify-content: flex-start;
    }
    nav button
    {
        width: 100%;
        height: 100%;
        /* position: relative; */
        /* left: -40px; */
        /* top: -15px; */
        background-color: whitesmoke;
        border: 0px;
        border-top: 3px solid whitesmoke;
        transition: color 0.3s;
        font-family: montserrat;
        /* padding-top: ; */
        color: #000;
        font-weight: bold;
        font-size: 20px;
        width: 100%;
        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    nav button:hover
    {
        border-top: 3px solid #0080ff;
        color: #0080ff;
        cursor: pointer;
    }


/* REKLAMA */

    .ad
    {
        background-image: url(/img_main/auto.jpg);
        width: 1200px;
        height: 400px;
        margin: auto;
    }
    .ad p
    {
        color: #0080ff;
        font-size: 60px;
        background-color: rgba(0, 0, 0, 0);
        text-align: center;
        position: relative;
        font-weight: bold;
        font-family: montserrat;
    }
    .ad a
    {
        text-align: center;
        /* display: block; */
        background-color: rgba(0, 0, 0, 0);
        text-decoration: none;
        color: #C47C00;
        font-size: 35px;
        transition: all 0.9s;
    }
    .ad .akapit_oferta
    {
        background-color: rgba(0, 0, 0, 0);
        font-size: 30px;
        position: relative;
        top: -20px;
        font-weight: bold;
    }
    .ad a:hover
    {
        color: #F9B94B;
    }
    

/* FLOTA */


    .flota
    {
        background-color: #dddddd;
        width: 100%;
        height: 300px;
    }
    .flota h1
    {
        background-color: #0080ff;
        color: whitesmoke;
        text-align: center;
        font-size: 40px;
        font-family: montserrat;
    }
    .flota img
    {
        /* width: 80px; */
        /* float: left; */
        height: 100px;
        background-color: rgba(0, 0, 0, 0);
        margin-left: 80px;
        margin-right: 80px;
        transition: transform 0.2s ease-in-out;
    }
    .flota div
    {
        background-color: whitesmoke;
        width: 100%;
        float: left;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
    }
    .flota img:hover
    {
        transform: scale(1.1);
    }


/* ODDZIAÅ */


    .oddzial
    {
        background-color: whitesmoke;
        margin-bottom: 30px;
    }
    .oddzial h1
    {
        text-align: center;
        font-size: 40px;
        font-family: montserrat;
        color: whitesmoke;
        background-color: #0080ff;
    }
    .oddzial .mapa
    {
        width: 40%;
        height: 400px;
        margin: auto;
    }
    .mapa iframe
    {
        width: 100%;
        height: 100%;
        /* margin: auto; */
    }
    .oddzial .adres
    {
        width: 100%;
        height: 100px;
    }
    .oddzial p
    {
        color: #0080ff;
        background-color: whitesmoke;
        font-family: montserrat;
    }
    .oddzial h3
    {
        font-family: montserrat;
    }
    .oddzial p, .oddzial h3
    {
        text-align: center;
    }


/* STOPKA */


    footer
    {
        width: 100%;
        background-color: #1e1e1e;
        height: 400px;
        color: #f0f0f0;
        /* text-align: center; */
        padding: auto;
    }
    footer div
    {
        margin: 0;
        padding: 10px;
    }
    footer p, footer img, footer h2, footer p a
    {
        background-color: #1e1e1e;
        margin: 5px;
    }
    footer > div > div > p
    {
        width: 180px;
        scroll-margin-right: 0;
        /* display: inline; */
        font-size: 18px;
    }
    footer img
    {
        height: 18px;
        float: left;
        position: relative;
        left: 10px;
    }
    .info
    {
        float: left;
        width: 200px;
        background-color: #1e1e1e;
        /* margin-top: 10px; */
        height: 330px;
        /* padding-left: 100px; */
        float: right;
        position: relative;
        right: 0px;
    }
    .linki
    {
        float: left;
        width: 200px;
        background-color: #1e1e1e;
        /* margin-top: 10px; */
        height: 330px;
        float: left;
        position: relative;
        left: 30px;
    }
    #prawa
    {
        float: left;
        background-color: #1e1e1e;
        width: 100%;
        text-align: center;
        margin: 0;
        height: 20px;
    }
    .foot
    {
        width: 50%;
        height: 370px;
        background-color: #1e1e1e;
        margin: 0;
        padding: 0;
        float: left;
    }
    .godz
    {
        background-color: #1e1e1e;
        font-size: 14px;
        padding-left: 30px;
    }
    footer a
    {
        color: #f0f0f0;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }
    footer a:hover
    {
        color: #0080ff;
    }
    footer a:active
    {
        color: #7FD6FC;
    }


